<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="products.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="px-10 py-10 text-white bg-gray-400 w-fit">
        <h2 class="text-2xl font-semibold">Error</h2>
        <p class="text-xl font-semibold">Algo salio mal:</p>
        <div class="text-xl font-bold">
            <%= error %>
        </div>
        <a href="/" class="text-xl font-bold text-blue-700">← Volver al inicio</a>
    </div>
</body>
</html>